*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    overflow: hidden;
}

.wrapper{
    
    background: rgb(47,2,79);
    background: radial-gradient(circle, rgba(47,2,79,1) 0%, rgba(24,1,49,1) 76%, rgba(24,1,49,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


    img{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        filter: drop-shadow(0 0 11rem rgb(90, 0, 159));
        -webkit-animation: slide-in-left 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-left 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 45%;
        }
      }


h1{
    z-index: 1;
    font-family: 'Alien Invader', sans-serif;
    padding-bottom: 100px;
    font-size: 6em;
    font-weight: 100;
    text-shadow: rgb(123, 41, 238) 0 0 20px;
    -webkit-animation: slide-in-right 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-right 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

#gameStatus{
    text-align: center;
    font-size: 2.5em;
    -webkit-animation: blink 1.5s infinite both;
	        animation: blink 1.5s infinite both;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }


.cell{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-right: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    cursor: pointer;
}

.cell:nth-child(3n){border-right: none;}
.cell:nth-child(6) ~ .cell{border-bottom: none;}

.card{
    font-family: 'Alien Invader', sans-serif;
    text-shadow: rgb(74, 68, 225) 0 0 20px;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    backdrop-filter: blur(30px);
}

.board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.white{color: ghostwhite;}

#gameEnd{
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(47,2,79);
}

#gameEnd p, #gameEnd input{
    text-align: center;
}

#gameEnd p {
            font-size: 5em;
            font-weight: 900;
            font-style: italic;
            
}

input{font-family: 'Alien Invader', sans-serif;
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    transform: skewX(-10deg);
    color: ghostwhite;
    margin: 50px 0;
    transition: all 1s ease-in-out;
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
    &:hover{
        transform: scale(1.05);
    }
}

@keyframes color-change-2x {
    0% {
        background: rgba(131,58,180,1);
    }
    100% {
        background: rgba(195,42,146,1);
    }
  }

  